body {
    background-color: black;
    color: white;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
    background-color: #64d98b;
    color: black;
    font-family: inherit;

    padding: 12px 24px;
}